################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecretHitlerMobile/.vs
/secrethitler-mobile/.vs
